
.shadow{
   display: flex;
   align-items: center;
   text-align: end;
   justify-content: space-between;
   padding: 14px;
}
.conlink{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-right: 20px;
}
/* .logo{
   width: 40px;
   height: 50px;
} */
 .shadow img{
    width: 200px;
    padding: 2px 7px;
    margin: 0 30px;
 }

 .shadow .link a {
    text-decoration: none;
    padding: 0 12px;
    color: black;
    font-weight: 500;
    margin-right: 5px;
    font-size: 18px;
    font-weight: 500;
 }
 .shadow .link a:hover{
   color:#0d6efd ;
   background-color:whitesmoke;
   border-radius: 20px;
 }
 .navcontainer .saprater{
   background-color: gray;
   margin-left: 24px;
 }
.navbtn1{
   /* font-weight: bold; */
   font-size: 22px;
   line-height: 28px;
   padding: 18px 40px;
   background-color: white;
   color: #1da1f2;
   border-radius: 8px;
   cursor: pointer;
   border: none;
   margin: 0 12px;
   padding: 5px;
}
 
.navbtn2{
   font-weight: bold;
   font-size: 22px;
   line-height: 28px;
   padding: 18px 40px;
   background-color: #0d6efd;
   color: white;
   border-radius: 8px;
   cursor: pointer;
   border: none;
   margin: 0 12px;
   padding: 18px 40px;
}
 .btncontainer{
   display: flex;
   text-align: center;
   
 }