* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homecontent {
    /* width: 46.857%; */
    padding-top: 104px;
    padding-bottom: 120px;
    padding-left: 150px;
    background-color: #bec4d5;
}

.homecontent h1 {
    max-width: 8.5em;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 54px;
    line-height: 52px;
}

.homecontent span {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 24px;
    display: flex;
    width: 28.857%
}

.homecontent .trybtn {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    padding: 18px 40px;
    background-color: #0d6efd;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

.home-logo {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}

.home-logo img {
    width: 600px;
    margin: 0 165px;
}

.promo h1 {
    max-width: 9.5em;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 54px;
    line-height: 52px;
}

.promo p {
    font-size: 22px;
    width: 74.857%;
    padding-top: 25px;
    padding-bottom: 40px;
    padding-left: 4px;
}

.promo .buildbtn {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    padding: 18px 40px;
    background-color: #0d6efd;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

.last-div {
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 25px;
}

h2 {
    font-size: 40px;
    max-width: 11.5em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    line-height: 50px;
}

.homeheader {
    font-size: 22px;
    width: 128.857%;
    padding-top: 30px;
    padding-bottom: 40px;
    /* padding-left: 770px; */
}

.getbtn {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    padding: 18px 40px;
    background-color: #0d6efd;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

footer {
    background-color: #0f141e;
    color: azure;
    /* align-items: center; */
    justify-content: center;
    display: flex;
}